.content {
    display: flex;
    justify-content: center; 
    align-content: center; 
    align-items: center;
    flex-direction: column;
    /* background-image: url('../../../assets/img/logo.jpeg'); */
    
}

form {
    padding: 30px;
    width: 800px;
}

label {
    padding-right: 20px;
}

.button {
    display: flex;
    justify-content: center; 
    align-content: center; 
    align-items: center;
}

span, label {
    font-weight: bold;
}



